<!DOCTYPE html>
<html>
  <head>
    <title>Ajout de contact</title>
    <style>
      label {
          display: block;
          margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <h1>Ajout de contact</h1>
    <form action="{{ url_for('add_contact_handler') }}" method="post">
      <label for="nom">Nom :</label>
      <input type="text" id="nom" name="nom" required>

      <label for="prenom">Prénom :</label>
      <input type="text" id="prenom" name="prenom" required>

      <label for="email">Email :</label>
      <input type="email" id="email" name="email" required>

      <input type="submit" value="Ajouter">
    </form>
  </body>
</html>
