<html>
  <head>
    <title>Annuaire de contacts</title>
  </head>
  <body>
    <h1>Annuaire de contacts</h1>
Voici tout les contacts enregistrés:
    <table>
      <thead>
	<tr>
	  <th>Email</th>
	</tr>
      </thead>
      <tbody>
	{% for contact in contacts %}
	<tr>
	  <td>{{ m.email(contact) }}</td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </body>
</html>
