<!DOCTYPE html>
<html>
  <head>
    <title>Annuaire de contacts</title>
  </head>
  <body>
    <h1>Bienvenue dans l'annuaire de contacts</h1>
    <p>Vous pouvez:</p>
    <ul>
      <li><a href="{{ url_for('add_contact') }}">Ajouter un contact</a></li>
      <li><a href="{{ url_for('search_contact') }}">Rechercher un contact</a></li>
      <li><a href="{{ url_for('view_contact',email='') }}"> Visualiser un contact </a></li>
      <li><a href="{{ url_for('all_contacts') }}">Visualiser tous les contacts</a></li>
    </ul>
  </body>
</html>
