<!DOCTYPE html>
<html>
  <head>
    <title>Visualisation d'un contact</title>
  </head>
  <body>
    <h1>Visualisation d'un contact</h1>
    <p>Nom : {{ m.nom(contact) }}</p>
    <p>Prénom : {{ m.prenom(contact) }}</p>
    <p>Email : {{ m.email(contact) }}</p>
  </body>
</html>
